.class{
  width: 50vw;
  height: 50vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  text-align: center;

  &__header{
    text-align: center;
    margin-bottom: 5rem;

    h1{
      margin-bottom: 1rem;
    }

    a{
      text-decoration: none;
      color: gray;

      &:hover{
        color: #6DDCBD;
      }
    }
  }

  &__body{
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__new, &__view{
    width: 20rem;
    height: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1rem solid transparent;
    border-radius: 1rem;
    margin: auto;
    text-align: center;
    opacity: 0.8;
    transition: 0.3s;
    text-decoration: none;

    &:hover{
      opacity: 1;
    }

    h1{
      color: white;
      font-size: 1.5em;
      padding: 0 2rem;
    }
  }

  &__new {
    background-color: #5b80b2;
  }

  &__view{
    background-color: #6DDCBD;
  }
}